<div class="main-bunner">
  <div class="main-slogan">
    <span>Look into the future with our</span>
    <span class="hightlighted-word"> visualization</span>
  </div>
</div>

<div id="about-us" class="about-us">
  <h3 class="title-text">About Us</h3>

  <div class="body-text">
    Not everyone will visit your page on their desktop browsers. Many will visit from their tablets and smartphones.
    That’s why you should make your about us page responsive so it looks great on all devices.There are several paid tools to check your about page responsiveness.
    But if you prefer free tools, the responsive design checker is an excellent option for testing the appearance of your about us page on 26 screen sizes.
  </div>

  <div class="body-text">
    Not everyone will visit your page on their desktop browsers. Many will visit from their tablets and smartphones.
    That’s why you should make your about us page responsive so it looks great on all devices.There are several paid tools to check your about page responsiveness.
    But if you prefer free tools, the responsive design checker is an excellent option for testing the appearance of your about us page on 26 screen sizes.
  </div>

</div>

<div class="image-divided">
  <button pButton pRipple type="button" label="View more visualizations" class="p-button-secondary"></button>
</div>
