.main-bunner {
  height: 800px;
  width: 100%;
  background: url("../../../assets/images/3.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;


 .main-slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  padding: 40px 55px;
  letter-spacing: 3px;

  span {
    font-size: 45px;
    font-weight: 600;
    color: white;
  }

  .hightlighted-word {
    background-color: #d5ae5f75;
    padding: 0 20px;
  }

  hr {
    height: 5px;
    background-color: white;
    color: white;
    width: 50%;
    margin: 40px 0;
  }
 }
}

.about-us {
  width: 100%;
  padding: 60px 200px;

  .title-text {
    padding-bottom: 40px;
    text-align: center;
  }

  .body-text {
    text-align: center;
    padding-bottom: 40px;
  }
}

.services {
  background-color: rgb(145 135 181 / 8%);
  height: 600px;

  width: 100%;
  padding: 60px 200px;
}

.title-text {
  padding-bottom: 60px;
  text-align: center;
}

.image-divided {
  width: 100%;
  height: 400px;
  background: url("../../../assets/images/6.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

}
