<div class="footer-wrapper">
  <div class="body-text">© 2023 MagicRender Studio. <br> All rights reserved.</div>
  <div class="socials-container">
    <a href="https://www.instagram.com/magicrender.studio/" class="social-link">Instagram</a> <span class="divider">|</span>
    <a href="https://www.behance.net/magicrestudio?fbclid=PAAaYIfVriBrHVwt2rTioEVm9pwnZtsG_u0IfodW8yVYzvOsrUum2t7PUuwNY" class="social-link">Behance</a> <span class="divider">|</span>
    <a href="https://www.linkedin.com/company/magicrender-studio/" class="social-link">Linkedin</a>
  </div>
  <div class="body-text">
    <i class="pi pi-send" style="font-size: 12px; margin-right: 5px;"> </i>CONTACT US: <br> magic.render@gmail.com
  </div>
</div>
