html, body {
  //font-family: 'Montserrat', 'sans-serif';
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, li, strong, b {
  &, &.ant-typography {
    color: #1B1A17;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: #fff38b;
}

::selection {
  color: black;
  background: #fff38b;
}
